<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
    <title>Login And Signup Page</title>
  </head>
  <body>
    <!-- <%- include ('../partials/srcs.ejs'); %> -->
  </body>
</html>
